h1 {
    color: #C25100;
}
/* #e5dfdf */
.strap {
    height: 30vh;
    background-color: #ffffff; /* Dark color for contrast */
    color: rgb(246, 246, 246);
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.typing-effect {
    font-size: 2vw;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2vw solid #040404;
    width: 0;
    font-family: 'Fira Code', 'Courier New', monospace;
    animation: typing 4s steps(15)  forwards, blink 0.75s step-end infinite;
}
.typing-effect.done {
    border-right: none;  /* Remove cursor once typing is done */
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}


@keyframes blink {
    0%, 50% {
        border-right: 2px solid rgb(4, 4, 4);  /* Cursor visible */
    }
    51%, 100% {
        border-right: 2px solid transparent;  /* Cursor invisible */
    }
}
.nav-pills .nav-link {
    border-radius: 10px; /* Rounded corners */
    margin-right: 10px;
    font-family: "Karla", sans-serif;
    font-weight:700;
    font-size: large;
}

/* Change active pill colors */
.nav-pills .nav-link.active {
    background-color: #ffffff; /* Custom purple background */
    color: #0a0a0a; /* White text */
    font-family: "Karla", sans-serif;
    font-weight:500;
    
}
.nav-pills{
    padding-left: 3vh;
}
#logo{
    height: 10vh;
}

html {
    scroll-behavior: smooth;
}
body {
    scroll-snap-type: y mandatory;
}

section {
    scroll-snap-align: start;
}
.navbar {
     --bs-navbar-padding-y: 0rem;
}